apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: task-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: task-manager
          image: task-manager:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080

          